.sidebar{
    background-color: white;
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 62px;
    z-index: 200;
    padding: 5px;
}

.sidebarIcon{
    height: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebarIcon img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebarIcon:hover{
    background-color: #ebebeb;
}

.sidebarIcon div{
    font-family: Roboto;
    font-size: 10px;

}